.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 90vh;
}

.score {
  text-align: center;
}

#bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  position: relative;
  /* transform: translate(-50%, -50%); */
}

.bg__img {
  /* position: absolute; */
  left: 50%;
  top: 50%;
  width: 700px;
  /* object-fit: contain; */
}

#hero__img {
  background-image: url(/images/hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 35px;
  height: 54px;

  position: absolute;
  left: 300px;
  bottom: 12%;
}

.hero__left {
  background-position: 66.6%;
}

.hero__right {
  background-position: 100%;
}

.enemy__img {
  background-image: url(/images/enemy.png);
  background-size: cover;
  background-repeat: no-repeat;

  width: 45px;
  height: 54px;

  position: absolute;
  left: 300px;
  top: 8%;
  /* top: 510px; */
  /* bottom: 12%; */
}

.enemy__die {
  background-position: 100%;
}
